body{
  font-size: 14px;
}

.main {
  width: 768px;
  margin: 0 auto;
}

.section {
  width: 100%;
}

.app {
  position: relative;
  width: 720px;
  margin: 0 auto;
}

.app .app__color-picker {
  position: absolute;
  left: 6px;
  bottom: 7px;
}

.top-bar {
  width: 100%;
  height: 150px;
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}

.top-bar__logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  transform: rotateZ(-5deg);
}

.top-bar__links__link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  display: inline;
  margin: 2px;
}

.top-bar__recommend__button {
  border: solid 1px #909090;
  border-radius: 4px;
  padding: 1px;
  background-image: linear-gradient(to bottom,#d4d4d4, #f0f0f0);
}

.top-bar__recommend__button__get-google-chrome {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 10px;
  font-size: 9px;
  font-weight: bold;
  border: solid 1px #c8c8c8;
  border-radius: 2px;
  padding: 1px 3px;
  background-image: linear-gradient(to bottom,#e8e8e8, #ffffff);
}

.top-bar__recommend__button__get-google-chrome a {
  text-decoration: none;
  color: #888888;
}